In [11]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofchicago.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofchicago.org,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("h4cq-z3dy", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [12]:
results_df

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,...,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract,tolls
0,1a17d83ac05d6f89ff6e0c03b47849e6f4e1099f,33eb8518952dbdc8a4c6648ad8fdf65dc84fac160f3d6f...,2019-01-01T00:00:00.000,2019-01-01T00:15:00.000,734,2.1,8,8,9.25,2.05,...,Yellow Cab,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN,NaN
1,67714aafd88ba7aeceb0c67f1d15adc63f07fa14,e3dfbf8807f36c9b93c54262b9e5f4580b45dbd443055e...,2019-01-01T00:00:00.000,2019-01-01T00:15:00.000,260,0.6,8,8,5.00,0.00,...,Flash Cab,41.89321636,-87.63784421,"{'type': 'Point', 'coordinates': [-87.63784420...",41.900265687,-87.63210922,"{'type': 'Point', 'coordinates': [-87.63210921...",17031081800,17031081000,NaN
2,d9224685055eaedd800540a7a069ac7ead4b332b,e82b600c080cf471872971b9ff58fe434b4beced4d3d02...,2019-01-01T00:00:00.000,2019-01-01T00:15:00.000,703,4.4,6,8,14.25,0.00,...,Flash Cab,41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN,NaN
3,0e8a30e319952a3febf1eed9d21aa13986cfc4ad,d7ab24d23d64dea6d14647acbb9815c48f4fe6ac9b68de...,2019-01-01T00:00:00.000,2019-01-01T00:15:00.000,254,0.7,28,24,5.25,2.00,...,Flash Cab,41.88528132,-87.6572332,"{'type': 'Point', 'coordinates': [-87.65723319...",41.89830587,-87.653613982,"{'type': 'Point', 'coordinates': [-87.65361398...",17031833000,17031842300,NaN
4,c1668d0589590e43e221f461dd8dbf4e919f61ba,4dee082550df0ce050828e9136e0d006b6daa586f5ef7f...,2019-01-01T00:00:00.000,2019-01-01T00:30:00.000,1602,19.4,76,33,47.50,0.00,...,Flash Cab,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",41.859349715,-87.617358006,"{'type': 'Point', 'coordinates': [-87.61735800...",17031980000,17031330100,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,05498533f216a5ad1ce2bfdd34de000bf7adcee9,5f0d6a987785a46d187f154408b16d8b39d8733e09d527...,2019-01-01T01:00:00.000,2019-01-01T01:15:00.000,783,2.5,8,24,10.25,2.05,...,Yellow Cab,41.899155613,-87.626210532,"{'type': 'Point', 'coordinates': [-87.62621053...",41.906650766,-87.66533766,"{'type': 'Point', 'coordinates': [-87.66533765...",17031081201,17031241600,NaN
1996,940e96f90e61522c10f615895db80a6394e99136,5f0d6a987785a46d187f154408b16d8b39d8733e09d527...,2019-01-01T01:00:00.000,2019-01-01T01:00:00.000,463,0.9,8,8,6.50,0.00,...,Yellow Cab,41.89321636,-87.63784421,"{'type': 'Point', 'coordinates': [-87.63784420...",41.899155613,-87.626210532,"{'type': 'Point', 'coordinates': [-87.62621053...",17031081800,17031081201,NaN
1997,d34464d68767ad3acbfd8d201e9fab7ce84c16cd,630242caf0dcf1884f8f89654520f4b0da4f5d72b4647f...,2019-01-01T01:00:00.000,2019-01-01T01:00:00.000,48,0.2,77,77,3.75,0.00,...,Yellow Cab,41.9867118,-87.663416405,"{'type': 'Point', 'coordinates': [-87.66341640...",41.9867118,-87.663416405,"{'type': 'Point', 'coordinates': [-87.66341640...",NaN,NaN,NaN
1998,39288f2dae49d1dfe558a04906d1bac7f4c31514,362dbe26e2730f8c392d5dc3e48fe2dfdebfa8e15dd52f...,2019-01-01T01:00:00.000,2019-01-01T01:15:00.000,929,0,8,8,3.25,0.00,...,Yellow Cab,41.898331794,-87.620762865,"{'type': 'Point', 'coordinates': [-87.62076286...",41.892042136,-87.63186395,"{'type': 'Point', 'coordinates': [-87.63186394...",17031081300,17031081700,NaN
1999,8684ab25ef317082b0ab0a3106343669f2cd3d75,2780ead18beaa862cc67315ddabd9d1acaadcd6da82eba...,2019-01-01T01:00:00.000,2019-01-01T01:00:00.000,797,2.5,8,6,10.50,2.63,...,Flash Cab,41.90749193,-87.63576009,"{'type': 'Point', 'coordinates': [-87.63576009...",41.942691844,-87.651770507,"{'type': 'Point', 'coordinates': [-87.65177050...",17031080300,17031062100,NaN

In [13]:
results_df.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,...,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,pickup_census_tract,dropoff_census_tract,tolls
0,1a17d83ac05d6f89ff6e0c03b47849e6f4e1099f,33eb8518952dbdc8a4c6648ad8fdf65dc84fac160f3d6f...,2019-01-01T00:00:00.000,2019-01-01T00:15:00.000,734,2.1,8,8,9.25,2.05,...,Yellow Cab,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN,NaN
1,67714aafd88ba7aeceb0c67f1d15adc63f07fa14,e3dfbf8807f36c9b93c54262b9e5f4580b45dbd443055e...,2019-01-01T00:00:00.000,2019-01-01T00:15:00.000,260,0.6,8,8,5.00,0.00,...,Flash Cab,41.89321636,-87.63784421,"{'type': 'Point', 'coordinates': [-87.63784420...",41.900265687,-87.63210922,"{'type': 'Point', 'coordinates': [-87.63210921...",17031081800,17031081000,NaN
2,d9224685055eaedd800540a7a069ac7ead4b332b,e82b600c080cf471872971b9ff58fe434b4beced4d3d02...,2019-01-01T00:00:00.000,2019-01-01T00:15:00.000,703,4.4,6,8,14.25,0.00,...,Flash Cab,41.944226601,-87.655998182,"{'type': 'Point', 'coordinates': [-87.65599818...",41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN,NaN,NaN
3,0e8a30e319952a3febf1eed9d21aa13986cfc4ad,d7ab24d23d64dea6d14647acbb9815c48f4fe6ac9b68de...,2019-01-01T00:00:00.000,2019-01-01T00:15:00.000,254,0.7,28,24,5.25,2.00,...,Flash Cab,41.88528132,-87.6572332,"{'type': 'Point', 'coordinates': [-87.65723319...",41.89830587,-87.653613982,"{'type': 'Point', 'coordinates': [-87.65361398...",17031833000,17031842300,NaN
4,c1668d0589590e43e221f461dd8dbf4e919f61ba,4dee082550df0ce050828e9136e0d006b6daa586f5ef7f...,2019-01-01T00:00:00.000,2019-01-01T00:30:00.000,1602,19.4,76,33,47.50,0.00,...,Flash Cab,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",41.859349715,-87.617358006,"{'type': 'Point', 'coordinates': [-87.61735800...",17031980000,17031330100,NaN

In [14]:
print ("Num of rows: " + str(results_df.shape[0])) # row count
print ("Num of columns: " + str(results_df.shape[1])) # col count

Num of rows: 2000
Num of columns: 23

In [15]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     2000 non-null   object
 1   taxi_id                     2000 non-null   object
 2   trip_start_timestamp        2000 non-null   object
 3   trip_end_timestamp          2000 non-null   object
 4   trip_seconds                2000 non-null   object
 5   trip_miles                  2000 non-null   object
 6   pickup_community_area       1876 non-null   object
 7   dropoff_community_area      1854 non-null   object
 8   fare                        2000 non-null   object
 9   tips                        2000 non-null   object
 10  extras                      2000 non-null   object
 11  trip_total                  2000 non-null   object
 12  payment_type                2000 non-null   object
 13  company                     2000 non-null   object
 14  pickup_centroid_latitude    1876 non-null   object
 15  pickup_centroid_longitude   1876 non-null   object
 16  pickup_centroid_location    1876 non-null   object
 17  dropoff_centroid_latitude   1854 non-null   object
 18  dropoff_centroid_longitude  1854 non-null   object
 19  dropoff_centroid_location   1854 non-null   object
 20  pickup_census_tract         1200 non-null   object
 21  dropoff_census_tract        1197 non-null   object
 22  tolls                       1737 non-null   object
dtypes: object(23)
memory usage: 359.5+ KB

In [16]:
results_df.isnull().sum()

trip_id                         0
taxi_id                         0
trip_start_timestamp            0
trip_end_timestamp              0
trip_seconds                    0
trip_miles                      0
pickup_community_area         124
dropoff_community_area        146
fare                            0
tips                            0
extras                          0
trip_total                      0
payment_type                    0
company                         0
pickup_centroid_latitude      124
pickup_centroid_longitude     124
pickup_centroid_location      124
dropoff_centroid_latitude     146
dropoff_centroid_longitude    146
dropoff_centroid_location     146
pickup_census_tract           800
dropoff_census_tract          803
tolls                         263
dtype: int64

In [17]:
#Checking the total and percent of the missing values
total = results_df.isnull().sum().sort_values(ascending=False)
percent = (results_df.isnull().sum()/results_df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                            Total  Percent
dropoff_census_tract          803   0.4015
pickup_census_tract           800   0.4000
tolls                         263   0.1315
dropoff_centroid_location     146   0.0730
dropoff_centroid_longitude    146   0.0730
dropoff_centroid_latitude     146   0.0730
dropoff_community_area        146   0.0730
pickup_community_area         124   0.0620
pickup_centroid_location      124   0.0620
pickup_centroid_longitude     124   0.0620
pickup_centroid_latitude      124   0.0620
taxi_id                         0   0.0000
trip_start_timestamp            0   0.0000
trip_end_timestamp              0   0.0000
trip_seconds                    0   0.0000
trip_miles                      0   0.0000
trip_total                      0   0.0000
fare                            0   0.0000
tips                            0   0.0000
extras                          0   0.0000

In [7]:
results_df=results_df.dropna()

In [8]:
results_df=results_df.drop(['taxi_id','payment_type','pickup_centroid_latitude','pickup_centroid_longitude','dropoff_centroid_latitude','dropoff_centroid_longitude','pickup_census_tract','dropoff_census_tract'], axis=1)

In [9]:
results_df

,trip_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area,dropoff_community_area,fare,tips,extras,trip_total,company,pickup_centroid_location,dropoff_centroid_location,tolls
72,8fa35bfd5d5f8b8bb2451035e805b6c4d4b2affc,2018-01-01T00:00:00.000,2018-01-01T00:00:00.000,155,0.49,32,32,4.50,0.00,1.00,5.50,Taxi Affiliation Service Yellow,"{'type': 'Point', 'coordinates': [-87.63274648...","{'type': 'Point', 'coordinates': [-87.62197165...",0.00
73,3cef84526cb431883efc9fcd3aa44c6fdf3e515b,2018-01-01T00:00:00.000,2018-01-01T00:00:00.000,266,0.06,32,32,4.50,0.00,0.00,4.50,Checker Taxi Affiliation,"{'type': 'Point', 'coordinates': [-87.62099291...","{'type': 'Point', 'coordinates': [-87.62099291...",0.00
74,9da7a1d5ea823a8bd2c9f9c148ae347733d48e24,2018-01-01T00:00:00.000,2018-01-01T00:30:00.000,1403,1.71,8,8,12.00,0.00,1.50,13.50,Nova Taxi Affiliation Llc,"{'type': 'Point', 'coordinates': [-87.62621490...","{'type': 'Point', 'coordinates': [-87.62621053...",0.00
75,62199442064d0d3a89a2c49c2e831ffd51c69bcd,2018-01-01T00:00:00.000,2018-01-01T00:15:00.000,1262,4.28,7,28,14.75,2.00,1.00,18.25,Taxi Affiliation Service Yellow,"{'type': 'Point', 'coordinates': [-87.64629347...","{'type': 'Point', 'coordinates': [-87.64280846...",0.00
77,ca3612cda5cdaeba6619a9da569b53729f09602f,2018-01-01T00:00:00.000,2018-01-01T00:00:00.000,374,1.7,28,32,7.50,0.00,1.50,9.00,Taxi Affiliation Service Yellow,"{'type': 'Point', 'coordinates': [-87.64264899...","{'type': 'Point', 'coordinates': [-87.62099291...",0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1992,6b60a7c506948303acfd880afca093be75d13892,2018-01-01T00:30:00.000,2018-01-01T00:45:00.000,540,0,8,32,7.75,0.00,2.50,10.25,Blue Ribbon Taxi Association Inc.,"{'type': 'Point', 'coordinates': [-87.61886835...","{'type': 'Point', 'coordinates': [-87.63274648...",0.00
1995,30538268b481674c867a36f6aa9bc9d4a844f2b4,2018-01-01T00:30:00.000,2018-01-01T00:45:00.000,780,0,8,8,8.25,0.00,1.00,9.25,Blue Ribbon Taxi Association Inc.,"{'type': 'Point', 'coordinates': [-87.62076286...","{'type': 'Point', 'coordinates': [-87.61886835...",0.00
1997,e447e40bc52da0ceeff8c825c520412e1e2cb367,2018-01-01T00:30:00.000,2018-01-01T00:30:00.000,240,0.5,8,8,4.75,3.00,1.00,8.75,Choice Taxi Association,"{'type': 'Point', 'coordinates': [-87.62887415...","{'type': 'Point', 'coordinates': [-87.61971067...",0.00
1998,ab027cec39ac83e64652c7b0f60b099c45f28ffb,2018-01-01T00:30:00.000,2018-01-01T00:45:00.000,360,1,8,8,6.00,4.00,1.00,11.00,Star North Management LLC,"{'type': 'Point', 'coordinates': [-87.62887415...","{'type': 'Point', 'coordinates': [-87.63784420...",0.00
1999,d4c1da02f4b8dded9181757438dfc91bec4e9b94,2018-01-01T00:30:00.000,2018-01-01T00:30:00.000,240,0.5,8,8,4.75,0.00,1.00,5.75,Star North Management LLC,"{'type': 'Point', 'coordinates': [-87.62887415...","{'type': 'Point', 'coordinates': [-87.63186394...",0.00

In [10]:
results_df.to_csv('Taxi Data Set-2018.csv')